node_modules/

.env

build/
generated/
subgraph-*.yaml
subgraph.yaml

tests/.bin
tests/*.json
matchstick.template.yaml
matchstick.yaml

src/config/generated/**.json
src/helpers/constants.js
src/helpers/constants.ts
